.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--block-size) var(--gutter-size) 0 var(--gutter-size);
}
@media (min-width: 120em) {
  .header {
    padding: calc(var(--block-size) * 2) var(--gutter-size);
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  font-size: var(--base-font-size);
  gap: var(--block-size-small);
  font-weight: bold;
}

.avatar {
  width: 4rem;
  height: 4rem;
}


.header a {
  text-decoration: none;
}
