.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--block-size-small);
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .items {
    gap: var(--block-size-medium);
  }
}

.footer {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
  }
}