.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--block-size-small);
}


.player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
}

.player-inner {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--block-size);
}

