.editor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: var(--gutter-size);
  padding-bottom: 10rem;
}

.inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: var(--gutter-size);
}

.sprites {
  width: 100%;
  max-width: 40rem;
}

.controls {
  width: 100%;
  max-width: 40rem;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: var(--gutter-size);
}
.canvas > div {
  width: 100%;
}
