.button {
  position: relative;
  display: inline-block;
  height: 6.8rem;
  min-width: 20.2rem;
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid var(--col-line);
  padding: 1.5rem 3rem;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  background: white;
  text-transform: uppercase;
  text-align: center;
  transition: all var(--transition);
}
.button:hover {
  border-color: var(--col-1);
  text-decoration: underline;
}
.button:active {
  background-color: var(--col-1);
  transform: scale(0.98);
}

/* Modifiers */

.-full {
  display: block;
  width: 100%;
  text-align: center;
  margin-left: 0;
}

.-small {
  height: 4.2rem;
  min-width: 14.2rem;
}

.-secondary > span {
  background-color: #eafee7;
}
