.editor {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: var(--gutter-size);
}

.inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--block-size-medium);
  margin-top: var(--block-size-medium);
}


.sprites {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: var(--block-size-small);
}

.package {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.package-inner {
  width: 100%;
  align-items: center;
  min-height: 60vh;
  background: repeating-conic-gradient(#80808026 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}