.toggle {
  display: inline-flex;
  align-items: center;
  gap: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  color: var(--col-text);
  border: 1px solid var(--col-line);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  transition: all 0.1s cubic-bezier(0.7, 0, 0.2, 1);
}

.badge + .badge {
  margin-left: -1px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.badge[data-active="true"] {
  border-color: var(--col-black);
  background-color: var(--col-black);
  color: var(--col-light);
}
