.shortcut {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-small);
  border: 0;
}
.shortcut:hover .badge,
.shortcut:focus .badge {
  background-color: var(--col-1);
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--col-line);
  height: 2.6rem;
  min-width: 4.6rem;
  color: var(--col-text);
  padding: 0 1rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  transition: all 0.1s cubic-bezier(0.7, 0, 0.2, 1);
}

.text{
  margin-left: 1.2rem;
  text-transform: uppercase;
}

/* Modifiers */

.-active .badge {
  border-color: var(--col-1);
  background-color: var(--col-1);
}

.-flashing .badge {
  border-color: var(--col-1);
  background-color: var(--col-1);
  transform: scale(0.98);
}

.-disabled {
 cursor: not-allowed;
}

.-disabled .badge {
  opacity: 0.5;
}

.-disabled .text {
  opacity: 0.5;
}
.-disabled:hover .badge {
  background: white;
}
