.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--gutter-size) calc(var(--block-size) * 1.5) var(--gutter-size);
}

@media (min-width: 1024px) {
  .footer {
    justify-content: space-between;
  }
}

@media (min-height: 60rem) {
  .footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--block-size) var(--gutter-size);
  }
}

@media (min-width: 120em) {
  .footer {
    padding: 0 var(--gutter-size) calc(var(--block-size) * 2) var(--gutter-size);
  }
}

.shortcuts {
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: var(--block-size);
}
@media (min-width: 1024px) {
  .shortcuts {
    display: flex;
  }
}
